#logo{
    width: 1200px; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    margin: 0 auto; /* Выравнивание по центру */
}
/* Шапка */
#header{
    height: 80px; /* Высота */
 /* Фоновый цвет */
    margin-bottom: 10px; /* Отступ снизу */
}
/* Сайдбар */
#menu{
    height: 80px; /* Высота */
    width: 200px; /* Ширина */
    margin-bottom: 10px; /* Отступ снизу */
    float: left; /* Левое обтекание */
}
/* Сайдбар */
#content{
    height: 80px; /* Высота */
    width: 690px; /* Ширина */
    margin: 0 0 10px 210px; /* Наружные отступы */
}
/* Подвал */
#footer{
    height: 80px; /* Высота */
    margin-bottom: 10px; /* Отступ снизу */
}